.row{
  text-align:center;
}

#choices{
  display:flex;
  justify-content:space-around;
  height: 125px;
}

#userChoice{
  color: #ff69b4;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

#computerChoice{
  color: #BDB76B;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}

#scores{
  display: flex;
  justify-content: space-around;
}
#results{
  padding-top: 20px;
}